<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div>
		<form method="POST" enctype="multipart/form-data" th:action="@{/user(username=${username})}">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}"></a>
			</li>
		</ul>
	</div>
	<br/>
	<a th:href="@{/perform_logout}">Logout</a>
</body>
</html>
